{% extends "index.html" %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <div class="container border py-3 my-5">
        <ul class="list-unstyled">
        {% for url in urls %}
            <li class="my-2">
                <a href="{{ url.url }}">{{ url.short_url }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="container border py-3 my-5">
        <a href="{% url 'app:short_urls' %}">
            <button class="btn btn-primary">
                Получить ссылку
            </button>
        </a>
    </div>
{% endblock %}